
.novel{
  

  width: 25px;
  height: 30px;
  font-size: 20px;
  margin-left: 200px;
  margin-top: 70px;
  text-align: center;
  writing-mode: vertical-rl;
  vertical-align: top;
  /* background: skyblue; */
  white-space: nowrap;
  font-family: serif;
}

.novel2{
  display: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.novel3{
  display: none;
}

.novel4{
  display: none;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 20px 300px 20px;
  font-family: sans-serif;
  background: #ffffe4;
}

body{
  background: url('images/paper.jpg') repeat-y;
  background-size: cover;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: auto;
}

.flexbox{
  
  vertical-align: top;
  width: 1000px;
  display:flex;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.button {
  border-radius: 10px;
  border: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: 180px;
  padding: 10px 25px;
  color: #393939;
  /* transition: 0.3s ease-in-out; */
  font-weight: 600;
  background-color: #b1eeff;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #49ffea;
  transform: translateY(-3px); /* 浮き上がる効果 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ボックスシャドウ */
}