.novel{
  width: 25px;
  height: 30px;
  font-size: 20px;
  margin-left: 200px;
  margin-top: 200px;
  text-align: center;
  writing-mode: vertical-rl;
  vertical-align: top;
  /* background: skyblue; */
  white-space: nowrap;
  font-family: serif;
}

.novel2{
  display: none;
}

.novel3{
  display: none;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background: white;
}

.flexbox{
  vertical-align: top;
  width: 1000px;
  display:flex;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}